<?xml version="1.0"?>
<launch>
  <arg name="device" default="/dev/video11" />
  <arg name="width" default="960" />
  <arg name="height" default="600" />
  <arg name="format" default="YV12" />
  <arg name="image" default="/stereo_camera/right/image_raw" />

  <node name="image_loop_front_right" pkg="image_to_v4l2loopback" type="stream"
    output="screen"
    required="true" >
    <param name="device" value="$(arg device)" />
    <param name="width" value="$(arg width)" />
    <param name="height" value="$(arg height)" />
    <param name="format" value="$(arg format)" />
    <remap from="/image" to="$(arg image)"/>
  </node>
</launch>
